body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #3f1651;
  --secondary-color: #653780;
  --third-color: #9c3587;
  --fourth-color: #1e6d6a;
  --fifth-color: #31b6b1;
  --grey-color: #EDEDED;
  --error-color: #d9534f;
  --footer-background: #242943;
  --footer-line: #363B56;
}